body{
    background-color: black;
}

div{
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}
.first{
    background:linear-gradient(to bottom left, red, pink, yellow,green);
}
.second{
    background:linear-gradient(to bottom right, purple, rgb(110, 110, 190), rgb(42, 59, 95), purple);
}
.third{
    background:linear-gradient(to bottom , orange, yellow);
}