.box1{
    width: 22px;
    height: 100px;
    background-color: aqua;
    padding: 2px;
    margin-left: 15px;
}
.box1:hover{
    height: 350px;
    transform: translateY(-0px);
    transition-delay: 2s;
    transition: ease;
}
.container{
    display: flex;
    margin-left: 5px;
    margin-top: 100px;
}

.line{
    width: 330px;
    background-color: black;
    height: 1px;
}
