@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,900&display=swap');
body{
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar{
    display: none;
}

.main-page{
    animation: anime 15s infinite;
    animation-delay: 2s;
    /* transform: rotateX(180deg); */
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.right-navbar{
    display: flex;
    flex-direction: row-reverse;
}

.triple-drag{
    width: 21px;
    height: 18px;
    margin: 15px 23px 0px 0px ;
    cursor: pointer;
}

.sign-in{
    background-color: #1a73e8;
    border-radius: 4px;
    margin: 7px 12px 0px 0px;
    color: white;
    font-weight: 500;
    border: none;
    font-size: 14px;
    padding:10px 18px 10px 18px;
}

.sign-in:hover{
    background-color: #4285f4;
}

.drag{
    width: 22px;
    margin: 15px 10px -3.5px 15px;
    cursor: pointer;
}

.links{
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 13px;
    color: #70757a;
}

.links:focus{
    color: #4285f4;
    padding-bottom: 15px;
    border-bottom: 2px solid #4285f4;
}

.google{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.google-body-part{
    height: 320px;
}

.google-logo{
    margin: 30px;
    text-align: center;
}

.google-logo-img{
    width: 160px;
    margin: 20px 0px 0px 0px;
}


.search{
    display: flex;
    justify-content: center;
    margin-top: -5px;
}

.search-bar{
    width: 685px;
    border: #70757a6a solid 0.1px;
    padding-left: 37px;
    font-size: 21px;
    color: #46494cc4;
    border-radius: 20px;
    height: 35px;
}


.search-img{
    width: 22px ;
    height: 22px;
    z-index: 111;
    margin: 7px -35px 0px 0px ;
    cursor: pointer;
}

.mic{
    width: 15px;
    height: 25px;
    margin: 6px 0px 0px -35px ;
    cursor: pointer;
}

.languages{
    margin-top: 25px;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
}

.lang{
    font-size: 14px;   
}

.list-of-languages{
    display: flex;
    font-size: 13px;
}

.mylist{
    text-decoration: none;
    color: #1a73e8;
    padding: 0px 10px 0px 10px;
    font-weight: 500;
    /* border: none; */
}

.footer{
    margin-top: 300px;
    background-color: #dad9d94f;
    height: 175px;
}

.India{
    font-family: 'Arial';
    padding: 10px;
    color: #70757a;
}

.hr{
    margin: 0px 0px 40px 0px;
    background: #c9c9c9;
    width: 100%;
    height: 1px;
}

.footer-first-line, .footer-first-line a{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: -10px;
    color: #70757a;
}

.footer-bottom-line {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    font-size: 13px;
}

.footer-bottom-line a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #70757a;
    font-weight: 100;
}

@keyframes anime {
    0%{
        transform: rotateY(0deg);
        transition-delay: 3s;
    }
    30%{
        
        transform: rotateZ(180deg);
        transition-delay: 3s;
    }
    60%{
        transform: rotateY(-180deg);
        transition-delay: 5s;
    }
    90%{
        transform: rotateY(180deg);
        transition-delay: 2s;
    }
}
/* @keyframes anime {
    0%{
        transform: rotateX(0deg);
        transition-delay: 3s;
    }
    50%{
        
        transform: rotateX(180deg);
        transition-delay: 3s;
    }
    100%{
        transform: rotateX(-180deg);
        transition-delay: 5s;
    }
} */

@media screen and (max-width:500px) {
    .search{
        /* margin-left: 35px ; */
        margin-right: 10px;
    }
    .navbar{
        display: flex;
        gap: 200px;
    }
    .google{
        display: flex;
        justify-content: center;
        margin-left: 50px;
    }
}