*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-content{
    height: 30px;
    font-size: 20px;
    display: inline-flex;
    padding: 8px 17px 0px 11px;
}

.nav-content:hover{
    background-color: rgb(69, 66, 66);
    color: white;
}


.nav{
    background-color: grey;
}
/* 
@media (width:570px) {
    li{
        width: 560px;
    }
} */

.nav2{
    background-color: grey;
    border-radius: 5px;
    width: 200px;
    margin: 50px;
}

ul{
    list-style-type: none;
    margin: 0px;
}

.nav2-content{
    padding: 5px 0px 3px 12px;
}

.nav2-content:hover{
    background-color: rgb(69, 66, 66);
    border-radius: 5px;
    color: white;
}

.nav-p{
    padding: 40px;
}