.container-1{
    display: flex;
    justify-content: space-around;
    padding: 36px;
}

.container-2{
    display: flex;
    justify-content: space-around;
    padding: 36px;
}

p{
    width: 700px;
}



li{
    display: inline-flex;
    margin: 20px;
    font-size: 25px;
    cursor: pointer;
}